@page
@model PethouseWeb.Pages.Treatments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grooming[0].Groomname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grooming[0].GroomDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grooming[0].GroomExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grooming[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grooming[0].Pet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Grooming) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Groomname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroomDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroomExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GroomId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GroomId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GroomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
